/* Landing slider styles */
#landing {
  position: relative;
}

#landing-slider {
  width: 100%;
  height: calc(100vh - 100px);
  overflow: hidden;
  position: relative;
  /* filter: saturate(0.5); */
}

#landing-slider > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  opacity: 0;
  filter: blur(2px);
  transform: scale(1.01);
}

#landing-overlay {
  background: rgba(9, 137, 160, 0.795);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#overlay-content {
  width: 600px;
  text-align: center;
}
#profile {
  text-align: left;
  display: flex;
}
#profile-picture img {
  border: 8px solid white;
  width: 160px;
}
#profile-details {
  flex: 1 1 auto;
  padding-left: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#profile-name {
  font-size: 3em;
  font-weight: bold;
  line-height: 0.9;
}
#profile-description {
  font-size: 1.2em;
  line-height: 1.2;
  opacity: 0.7;
}

/* Post Showcase */
#post-showcase {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
}

.post {
  box-shadow: 0 7px 15px rgba(9, 137, 160, 0.349);
  padding: 20px;
  transition: box-shadow 300ms;
}
.post:hover {
  box-shadow: 0 9px 20px rgba(9, 137, 160, 0.50);
}

.post-link:hover {
  border: 0 !important;
}
.post-date {
  font-weight: bold;
  font-size: 0.8em;
  text-transform: uppercase;
  opacity: 0.3;
}
.post-title {
  font-size: 1.2em;
  margin-top: 8px;
}

/* Past posts */
#past-posts {
  margin-top: 56px;
}

#past-posts h4 {
  margin-bottom: 4px;
  margin-top: 32px;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 2em;
  opacity: 0.2;
}

#past-posts .item {
  padding: 10px 0;
  display: inline-block;
  text-decoration: none;
  color: var(--highlight);
}
#past-posts .item .date {
  text-transform: uppercase;
  font-weight: 300;
  margin-right: 8px;
}

#past-posts .item:hover {
  opacity: 0.7;
}

.subscribe-button {
  display: inline-block;
  padding: 12px 20px;
  text-decoration: none;
  margin: 24px 8px 0;
  background: white;
  color: var(--highlight);
}